# Data Engineering & ETL
pyspark             
pyarrow                 
pandas                 
numpy             

# EDA & Visualization
jupyter                  
matplotlib               
seaborn     
wordcloud             

# Machine Learning & Ranking
scikit-learn
lightgbm
# catboost
optuna
scipy

# Deep Learning & Graph Neural Networks
torch
torch_geometric


# Embeddings & Vector Search (Semantic Retrieval)
sentence-transformers
faiss-cpu

# MLOps & Utilities
tqdm
wandb
python-dotenv

xgboost

# Serving (app/, src/inference/)
fastapi
uvicorn[standard]